<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <a href="@($"/teachers/details/{Teacher.Id}")">
                <h5 class="card-title">@Teacher.Name</h5>
            </a>
            <p class="mb-0">@Teacher.Email</p>
            <p class="mb-0">@Teacher.UserName</p>
            <p class="mb-0">@Teacher.Roles.FirstOrDefault()</p>
        </div>
    </div>
</div>