@page "/courses/edit/{Id:int}"
@inject IHttpService HttpService

<h3>Edit Course</h3>

@if (course == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <h4>@course.Name</h4>
        <p>@course.Description</p>
        <p>Course Id: @course.Id</p>
        <p>Start Date: @course.StartDate.ToShortDateString()</p>
        <p>End Date: @course.EndDate.ToShortDateString()</p>
    </div>
    <NavLink href="/courses" class="btn-sm btn-warning">Back to Course overview</NavLink>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public CourseTrimModel? course;

    protected override async Task OnInitializedAsync()
    {
        course = await HttpService.GetAsync<CourseTrimModel>($"{Endpoints.Courses}/{Id}");
    }
}