@* @page "/modules/{moduleId}/activity" *@
@page "/activities"

<h3>ActivityPage</h3>

    <table class="table table-bordered">
        <thead class="table-warning">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Activity)
            {
                    <tr>
                        <td>@activity.Id</td>
                        <td>@activity.Name</td>
                        <td>@activity.Description</td>
                        <td>@activity.StartDate</td>
                        <td>@activity.EndDate</td>
                    </tr>

            }
        </tbody>
    </table>



