<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <a href="@($"/students/details/{Student.Id}")">
                <h5 class="card-title">@Student.Name</h5>
            </a>
            <p class="mb-0">@Student.Email</p>
            <p class="mb-0">@Student.UserName</p>
            <p class="mb-0">@Student.Roles.FirstOrDefault()</p>
        </div>
    </div>
</div>