@page "/students/details/{id:int}"

<PageTitle>LexiconLMS - Student Details</PageTitle>

@if (Loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <h3>@Model.Name</h3>
        <ul>
            <li>Usernane: @Model.UserName</li>
            <li>Email: @Model.Email</li>
            <li>Role: @Model.Roles.First()</li>
        </ul>
        @if (Model.Course != null)
        {
            <p>Course: @Model.Course.Name</p>
        }

        <button class="btn btn-primary" @onclick="Return">Back</button>
    }
}